.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}


.prev,
.next {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    color: #EEEEEE;
    display: flex;
    cursor: pointer;
}

.arrow2 {
    aspect-ratio: 1;
    height: 30px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    margin: 0 20px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all .2s;
}

.prev >
.arrow2 {
    transform: rotate(-135deg);

}

